div content {
    max-width: 1600px;
    margin: 0 auto;
}

nav, #hero-msg h1, h4, .button-box, main section {
    text-align: center;
}

#background {
    height: 725px;
}

header, footer {
    background-color: #012E55;
    color: #DFA621;
}

body {
    background-color: lightslategray;
}

nav a:hover, footer a:hover, .book:hover, .join:hover {
    background-color: #0E83AE;
    color: white;
}

nav a, footer a, .book, .join {
    color: #0E83AE;
    text-decoration: none;
}

.msg, .msg h2 {
    background-color: #705039;
    color: white;
}

#background {
    background-color: #DFA621;
}

.msg p{
    color: lightgrey;
}

.home-title, h4, h2 {
    color: #012E55;
}

.logo, .icon {
    width: 80px;
    height: 80px;
}

#hero-img {
    width: 100%;
}